* {
   margin: 0;
}

button {
   font-family: monospace;
}

body {
   height: 100vh;
   font-family: monospace;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

#screen {
   display: flex;
   justify-content: flex-end;
   padding: 12px 24px;
   font-size: 32px;
   border: solid;
   border-radius: 12px;
}

#calculator {
   border: solid;
   border-radius: 12px;
   padding: 24px;
   gap: 24px;
   width: 300px;
   height: 500px;
   display: flex;
   flex-flow: column;
}

#buttons {
   gap: 8px;
   padding: 0px 8px;
   display: flex;
}

#inputs,
#operators {
   gap: 8px;
   display: flex;
   flex-flow: column;
}

#inputs div {
   gap: 8px;
   display: flex;
   justify-content: space-evenly;
}