* {
   margin: 0;
}

#calculator button {
   font-family: monospace;
   font-size: 22px;
   height: 72px;
   width: 72px;
}

body {
   height: 100vh;
   font-family: monospace;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

#screen {
   display: flex;
   flex-flow: column;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 12px 24px;
   height: 60px;
   border: solid 1px;
   border-radius: 12px;
   overflow: hidden;
}

#secondary-display {
   font-size: 12px;
   text-align: right;
   color: gray;
}

#primary-display {
   font-size: 22px;
}

#calculator {
   border: solid 1px;
   border-radius: 12px;
   padding: 24px;
   gap: 24px;
   display: flex;
   flex-flow: column;
}

#buttons {
   gap: 8px;
   padding: 0px 8px;
   display: flex;
   justify-content: center;
}

#inputs,
#operators {
   gap: 8px;
   display: flex;
   flex-flow: column;
}

#inputs div {
   gap: 8px;
   display: flex;
   justify-content: space-between;
}