* {
   margin: 0;
}

button {
   font-family: monospace;
   font-size: larger;
}

body {
   height: 100vh;
   font-family: monospace;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

#screen {
   display: flex;
   flex-flow: column;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 12px 24px;
   height: 48px;
   border: solid;
   overflow: hidden; 
   border-radius: 12px;
}

#secondary-display {
   font-size: 12px;
   color: gray;
}

#primary-display {
   font-size: 32px;
}

#calculator {
   border: solid;
   border-radius: 12px;
   padding: 24px;
   gap: 24px;
   width: 300px;
   height: 500px;
   display: flex;
   flex-flow: column;
}

#buttons {
   gap: 8px;
   padding: 0px 8px;
   display: flex;
   justify-content: center;
}

#inputs,
#operators {
   gap: 8px;
   display: flex;
   flex-flow: column;
}

#inputs div {
   gap: 8px;
   display: flex;
   justify-content: space-between;
}